---
import type { PlayerOfTheWeek } from '../types';
import { playerOfTheWeek } from '../data/homeData';
import { Image } from 'astro:assets';
import { resolveAssetUrl } from '../../../lib/asset-url';

const player: PlayerOfTheWeek = playerOfTheWeek;

// Resolve image URLs to absolute paths for Astro Image component
const playerImageUrl = resolveAssetUrl(player.image) || player.image;
const signatureImageUrl = player.signature ? resolveAssetUrl(player.signature) || player.signature : null;

const descriptionHtml = player.description
  .split('\n\n')
  .map(p => `<p>${p.replace(/\n/g, '<br/>')}</p>`)
  .join('');
---

<div class="stm-coach-excerption-wrapp">
  <div class="stm-title-wrapp">
    <h3>PLAYER OF THE WEEK</h3>
  </div>
  <div class="clearfix"></div>
  <div class="stm-data-wrapp">
    <div class="stm-photo-wrapp">
      <Image src={playerImageUrl} alt={player.imageAlt || player.name} width={300} height={300} />
    </div>
    <div class="stm-excerption-wrapp">
      <span class="stm-excerption" set:html={descriptionHtml}>
        <div class="stm-name-sign-wrapp">
          <span class="stm-coach-name heading-font">{player.name}</span>
          {signatureImageUrl && (
            <div class="stm-img-wrapp">
              <Image src={signatureImageUrl} alt={`${player.name} signature`} width={200} height={50} />
            </div>
          )}
        </div>
      </span>
    </div>
  </div>
</div>
