---
// Footer component - Footer with contact info, newsletter signup, and social links
import { prisma } from "../../../lib/prisma";

const DEFAULT_CONTACT = {
  address: 'Pepo Lane, off Dagoretti Road',
  phone: '0703913923',
  fax: '0729259496',
  email: 'ballers@elevateballers.com',
  hours: 'Sat-Sun 8am - 6pm',
};

const DEFAULT_SOCIAL = {
  facebook: 'https://www.facebook.com/Elevateballers',
  instagram: 'https://www.instagram.com/elevateballers/',
  twitter: 'https://twitter.com/elevateballers/',
  youtube: 'https://www.youtube.com/@elevateballers9389/featured',
};

let contact = { ...DEFAULT_CONTACT };
let social = { ...DEFAULT_SOCIAL };

try {
  const settings = await prisma.siteSetting.findMany({
    where: {
      key: {
        in: [
          'contact_address',
          'contact_phone',
          'contact_fax',
          'contact_email',
          'contact_hours',
          'social_facebook',
          'social_instagram',
          'social_twitter',
          'social_youtube',
        ],
      },
    },
  });

  const settingsMap = settings.reduce((acc, curr) => {
    acc[curr.key] = curr.value;
    return acc;
  }, {} as Record<string, string>);

  const getValue = (key: string, fallback: string) =>
    Object.prototype.hasOwnProperty.call(settingsMap, key)
      ? settingsMap[key]
      : fallback;

  contact = {
    address: getValue('contact_address', DEFAULT_CONTACT.address),
    phone: getValue('contact_phone', DEFAULT_CONTACT.phone),
    fax: getValue('contact_fax', DEFAULT_CONTACT.fax),
    email: getValue('contact_email', DEFAULT_CONTACT.email),
    hours: getValue('contact_hours', DEFAULT_CONTACT.hours),
  };

  social = {
    facebook: getValue('social_facebook', DEFAULT_SOCIAL.facebook),
    instagram: getValue('social_instagram', DEFAULT_SOCIAL.instagram),
    twitter: getValue('social_twitter', DEFAULT_SOCIAL.twitter),
    youtube: getValue('social_youtube', DEFAULT_SOCIAL.youtube),
  };
} catch (error) {
  console.error("Error fetching footer settings:", error);
}
---

<div
  class="stm-footer"
  style="background: url() no-repeat center; background-size: cover; background-color: #222;"
>
  <div id="stm-footer-top">
    <div id="footer-main">
      <div class="footer-widgets-wrapper less_4">
        <div class="container">
          <div class="widgets stm-cols-3 clearfix">
            <aside id="contacts-3" class="widget widget_contacts">
              <div class="widget-wrapper">
                <div class="footer-logo-wrapp">
                  <img
                    src="/images/Elevate_Icon.png"
                    alt="Elevate Ballers Logo"
                  />
                </div>
                <table class="stm-list-duty normal_font fs_two_contacts">
                  <tbody>
                    <tr>
                      <td class="widget_contacts_address" colspan="2">
                        <div class="icon"><i class="fa fa-map-marker"></i></div>
                        <div class="text">{contact.address}</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="widget_contacts_phone">
                        <div class="icon"><i class="fa fa-phone"></i></div>
                        <div class="text">{contact.phone}</div>
                      </td>
                      <td class="widget_contacts_fax">
                        <div class="icon"><i class="fa fa-fax"></i></div>
                        <div class="text">{contact.fax}</div>
                      </td>
                    </tr>
                    <tr>
                      <td class="widget_contacts_mail">
                        <div class="icon"><i class="fa fa-envelope"></i></div>
                        <div class="text">
                          {contact.email && (
                            <a href={`mailto:${contact.email}`}>
                              {contact.email}
                            </a>
                          )}
                        </div>
                      </td>
                      <td class="widget_contacts_schedule">
                        <div class="icon"><i class="fa fa-clock-o"></i></div>
                        <div class="text">{contact.hours}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </aside>
            <aside
              id="mc4wp_form_widget-2"
              class="widget widget_mc4wp_form_widget"
            >
              <div class="widget-wrapper">
                <div class="widget-title">
                  <h6>SIGN UP FOR EMAIL ALERTS</h6>
                </div>
                <script is:inline>
                  (function () {
                    window.mc4wp = window.mc4wp || {
                      listeners: [],
                      forms: {
                        on: function (evt, cb) {
                          window.mc4wp.listeners.push({
                            event: evt,
                            callback: cb,
                          });
                        },
                      },
                    };
                  })();
                </script>
                <!-- Mailchimp for WordPress v4.9.11 -->
                <form
                  id="mc4wp-form-1"
                  class="mc4wp-form mc4wp-form-545"
                  method="post"
                  data-id="545"
                  data-name="Subscribe"
                >
                  <div class="mc4wp-form-fields">
                    <p>
                      <label
                        >Select topics and stay current with our latest news.</label
                      >
                    </p>
                    <p></p>
                    <div class="subscribe-wrapp">
                      <input
                        type="email"
                        name="EMAIL"
                        placeholder="E-mail address"
                        required=""
                      />
                      <span class="button btn-md">
                        <input type="submit" value="Submit" />
                      </span>
                    </div>
                    <p></p>
                  </div>
                  <label style="display: none !important;">
                    Leave this field empty if you're human:
                    <input
                      type="text"
                      name="_mc4wp_honeypot"
                      value=""
                      tabindex="-1"
                      autocomplete="off"
                    />
                  </label>
                  <input
                    type="hidden"
                    name="_mc4wp_timestamp"
                    value={Math.floor(Date.now() / 1000)}
                  />
                  <input type="hidden" name="_mc4wp_form_id" value="545" />
                  <input
                    type="hidden"
                    name="_mc4wp_form_element_id"
                    value="mc4wp-form-1"
                  />
                  <div class="mc4wp-response"></div>
                </form>
                <!-- / Mailchimp for WordPress Plugin -->
              </div>
            </aside>
            <aside id="block-9" class="widget widget_block widget_media_image">
              <div class="widget-wrapper"></div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="stm-footer-bottom">
    <div class="container">
      <div class="clearfix">
        <div class="footer-bottom-left">
          <div class="footer-bottom-left-text">
            Copyright © 2024 <a
              target="_blank"
              href="https://anthonynjenga.co.ke/">Elevate Ballers</a
            >
          </div>
        </div>

        <div class="footer-bottom-right">
          <div class="clearfix">
            <div class="footer-bottom-right-text">All Rights Reserved</div>
            <div class="footer-bottom-right-navs">
              <div class="footer-socials-unit">
                <div class="h6 footer-socials-title">Follow Us:</div>
                <ul class="footer-bottom-socials stm-list-duty">
                  {social.facebook && (
                    <li class="stm-social-facebook">
                      <a
                        href={social.facebook}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                  )}
                  {social.twitter && (
                    <li class="stm-social-twitter">
                      <a
                        href={social.twitter}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                  )}
                  {social.instagram && (
                    <li class="stm-social-instagram">
                      <a
                        href={social.instagram}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  )}
                  {social.youtube && (
                    <li class="stm-social-youtube-play">
                      <a
                        href={social.youtube}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <i class="fa fa-youtube-play"></i>
                      </a>
                    </li>
                  )}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
